<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 100vh;
            background: url('modegen_pitch.jpg') no-repeat center center fixed;
            background-size: cover;
        }
        header {
            background-color: rgba(246, 39, 39, 0.8);
            color: #fff;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
        }
        main {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            margin-top: 80px; /* Adjusted to account for the fixed header */
        }
        footer {
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            width: 100%;
            padding: 10px 0;
            text-align: center;
            position: absolute;
            bottom: 0;
        }
        .team-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        
        .team-member {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 512px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .team-member img {
            border-radius: 50%;
            width: 512px;
            height: 512px;
            object-fit: cover;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        .team-member img:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }
        p {
            font-size: 1.2em;
            line-height: 1.5;
            color: #555;
        }
        nav a {
            color: #fff;
            margin: 0 15px;
            text-decoration: none;
        }
    </style>
